* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0 !important;
}

button {
  outline: none;
  border: none;
  padding: 10px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: double 2px transparent;
  border-radius: 26px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0cebeb, #20e3b2, #29ffc6);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.button_outline_primary {
  background: linear-gradient(45deg, #0cebeb, #20e3b2, #29ffc6);
}

.button_fill_primary {
  background: linear-gradient(45deg, #0cebeb, #20e3b2, #29ffc6);
  color: #fff;
}

.button_fill_primary:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.button_outline_secondary {
  background: linear-gradient(45deg, #00e1ff, #b9f7ff);
}

.button_fill_secondary {
  background: linear-gradient(45deg, #00e1ff, #b9f7ff);
  color: #fff;
}

.button_fill_secondary:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: 900;
  color: purple;
}

.current_day {
  -webkit-box-shadow: 0 0 30px -15px rgba(100, 255, 146, 0.8) !important;
          box-shadow: 0 0 30px -15px rgba(100, 255, 146, 0.8) !important;
}

.modal {
  -webkit-transition: -webkit-backdrop-filter 0.05s;
  transition: -webkit-backdrop-filter 0.05s;
  transition: backdrop-filter 0.05s;
  transition: backdrop-filter 0.05s, -webkit-backdrop-filter 0.05s;
  -webkit-backdrop-filter: blur(10px) !important;
          backdrop-filter: blur(10px) !important;
}

.modal .modal-dialog .modal-content {
  border-radius: 40px !important;
  border: none !important;
  -webkit-box-shadow: 0 0 30px -15px black !important;
          box-shadow: 0 0 30px -15px black !important;
}

.modal .modal-dialog .modal-content .modal-header, .modal .modal-dialog .modal-content .modal-footer {
  border: none !important;
}

.card_own {
  -webkit-box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.4);
  border: none !important;
  border-radius: 40px !important;
}

.card_own .card-header {
  background: #baf7ff;
  border: none !important;
  border-top-left-radius: 26px !important;
  border-top-right-radius: 26px !important;
}

.card_own .card-body {
  background-color: #ffffff;
}

.card_own .card-body .lessons_table_headers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_own .card-body .lessons_table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.card_own .card-body .lessons_table .lessons_table_item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
  border-radius: 26px;
}

.card_own .card-body .lessons_table .lessons_table_item div {
  padding: 5px;
}

.card_own .card-body .lessons_table .lessons_table_item .lesson_time {
  font-size: 20px;
}

.card_own .card-body .lessons_table .lessons_table_item .lesson_students {
  height: 100%;
  margin: 0 10px;
  font-size: 20px;
}

.card_own .card-body .lessons_table .lessons_table_item .lesson_actions {
  padding: 0 !important;
}

.card_own .card-body .lessons_table .lessons_table_item .lesson_actions .edit_lesson_button {
  height: auto;
  border-radius: 26px;
}

.card_own .card-footer {
  background-color: #fff;
  border: none !important;
  border-bottom-left-radius: 26px !important;
  border-bottom-right-radius: 26px !important;
}

.card_own .card-footer .add_time_btn {
  height: auto;
  border-radius: 26px;
}

#students_section .container .students_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#students_section .container .students_wrapper .overal_wrapper {
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}

#students_section .container .students_wrapper .overal_wrapper .filter {
  margin-left: 10px;
}

#students_section .container .students_wrapper .students {
  width: 50%;
  height: 700px !important;
  margin: 0 auto;
}

#students_section .container .students_wrapper .students .tab-pane {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

#students_section .container .students_wrapper .students .students_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#student_section .container .student {
  width: 50%;
  padding: 30px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

#student_section .container .student .student_props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#student_section .container .student .student_props div {
  padding: 10px;
  text-align: center;
}

#student_section .container .student .actions {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#admin_account_section .container .account_props {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-top: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.4);
}

#admin_account_section .container .account_props .elem {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  margin-bottom: 5px;
}

#admin_account_section .container .account_props .psw {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
  margin-bottom: 5px;
}

.student_link {
  width: 100%;
  padding: 20px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
}

.student_link .student_name {
  width: 100%;
  text-align: center;
}

.students_select_list {
  width: 100%;
  padding: 5px 20px;
  margin: 10px 0;
  font-size: 18px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=style.css.map */